<nav class="nav bg-primario py-2" *ngIf="this.dadosUsuario.logado === false">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="#" class="navbar-brand">
                    <img src="../../assets/eventtracker-cortado.svg" alt="logo" width="180">
                </a>
            </div>
            <div class="col d-flex align-items-center justify-content-end">
                <button type="button" class="btn btn-light mx-3 fw-semibold cor-secudario" routerLink="cadastro-usuario">Cadastre-se</button>
                <button type="button" class="btn btn-acesso fw-semibold" routerLink="login">Acesse sua conta</button>
            </div>
        </div>
    </div>
</nav>
<div *ngIf="this.dadosUsuario.logado === true">

    <nav class="nav bg-primario py-2">
        <div class="navbar-logado">
            <a href="#" class="navbar-brand">
                <img src="../../assets/eventtracker-cortado.svg" alt="logo" width="180">
            </a>
        </div>
    </nav>
    <div class="sidebar" [ngClass]="{'open': this.sidebarAberto ===  true}">
        <div class="sidebar-header">
            <p>Menu</p>
            <i id="botaoSidebar" class="bi bi-arrow-right-short" (click)="abrirFecharSidebar()"></i>
        </div>
        <div class="sidebar-options">
            <a href="#" class="option" routerLink="" [ngClass]="{'active': this.pagina === '/'}">Buscar eventos</a>
            <a href="#" class="option" routerLink="meus-eventos" [ngClass]="{'active': this.pagina === '/meus-dados'}">Meus dados</a>
            <a href="#" class="option" routerLink="meus-ingressos" [ngClass]="{'active': this.pagina === '/meus-ingressos'}">Meus ingressos</a>
            <a href="#" class="option" routerLink="meus-relatorios" *ngIf="this.dadosUsuario.codigoUsuario === 2" [ngClass]="{'active': this.pagina === '/meus-relatorios'}">Meus relatórios</a>
            <a href="#" class="option" routerLink="cadastro-eventos" *ngIf="this.dadosUsuario.codigoUsuario === 2" [ngClass]="{'active': this.pagina === '/cadastro-eventos'}">Cadastrar eventos</a>
            <a href="#" class="option" routerLink="meus-eventos" *ngIf="this.dadosUsuario.codigoUsuario === 2" [ngClass]="{'active': this.pagina === '/meus-eventos'}">Meus eventos</a>
        </div>
        <div class="sidebar-footer">
            <button type="button" class="btn btn-sair fw-semibold" (click)="this.deslogar()">Sair</button>
        </div>
    </div>
</div>