svg{
    width: 180px !important;
}

.navbar-logado{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sidebar{
    position: fixed;
    background-color: #BFABEA;
    top: 0;
    left: -230px;
    width: 300px;
    height: 100%;
    overflow-y: hidden;
    transition: 0.5s;
}

.open{
    left: 0 !important;
}

.sidebar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 23px;
    font-weight: bolder;
}

.sidebar p{
    margin: 0;
    padding: 0;
}

#botaoSidebar{
    font-size: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.sidebar-options{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding:  20px;
}

.option{
    color: black;
    font-size: 19px;
    font-weight: 600;
    text-decoration: none;
}

.option:hover{
    color: rgb(49, 49, 49);
}

.active{
    font-weight: 700;
}

.sidebar-footer{
    position: absolute;
    bottom: 0;
}

.btn-sair{
    color: #6610F2;
    background-color: white;
    border: 1px solid #6610F2;
    margin: 20px;
    width: 140px !important;
}

.btn-sair:hover{
    color: #6610F2;
    background-color: rgb(223, 222, 222);
}