<nav class="nav bg-primario py-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="#" class="navbar-brand">
                    <img src="../../assets/EventTrackerLogo_Fonte.svg" alt="logo" width="180" style="margin-top: 15px;">
                </a>
            </div>
            <div class="col d-flex align-items-center justify-content-end">
                <a href="#" class="text-white fw-semibold"><u>sou um administrador</u></a>
                <button type="button" class="btn btn-light mx-3 fw-semibold cor-secudario">Cadastre-se</button>
                <button type="button" class="btn btn-acesso fw-semibold" routerLink="login">Acesse sua conta</button>
            </div>
        </div>
    </div>

</nav>