<div class="row">
    <div class="col-12 my-4 hr">
        <h3>Cadastrar evento</h3>
    </div>
    <div *ngIf="deuErro.verificador" class="mb-2 alert alert-danger d-flex align-items-center justify-content-center" role="alert">
        <i class="bi bi-exclamation-circle-fill" style="margin-right: 5px;"></i>
        <div class="bi fw-semibold">
            {{this.deuErro.mensagem}}
        </div>
    </div>
    <div class="col-12 mt-4">
        <label class="form-label" for="nome">Nome do evento</label>
        <input class="form-control" type="text" placeholder="Digite o nome do evento">
    </div>
    <div class="col-12 mt-4">
        <label class="form-label" for="nome">Tipo de evento</label>
        <input class="form-control" type="text" placeholder="Digite o tipo de evento">
    </div>
    <div class="col-12 mt-4">
        <label class="form-label" for="nome">Logradouro</label>
        <input class="form-control" type="text" placeholder="Digite o logradouro">
    </div>
    <div class="col-12 mt-4">
        <label class="form-label" for="nome">Endereço</label>
        <input class="form-control" type="text" placeholder="Digite o endereço">
    </div>
    <div class="col-5 mt-4">
        <label class="form-label" for="nome">Número</label>
        <input class="form-control" type="text" placeholder="Digite o número">
    </div>
    <div class="col-7 mt-4">
        <label class="form-label" for="nome">Complemento</label>
        <input class="form-control" type="text" placeholder="Digite o complemento">
    </div>
    <div class="col-12 mt-4">
        <label class="form-label" for="nome">Descrição</label>
        <textarea class="form-control" type="text" placeholder="Digite a descrição"></textarea>
    </div>
    <div class="col-4 mt-4">
        <label class="form-label" for="nome">Idade mínima</label>
        <input class="form-control" type="text" placeholder="Digite a idade mínima">
    </div>
    <div class="col-5 mt-4">
        <label class="form-label" for="nome">Valor do ingresso</label>
        <input class="form-control" type="text" placeholder="">
    </div>
    <div class="col-4 mt-4">
        <label class="form-label" for="nome">Data do evento</label>
        <input class="form-control" type="text" placeholder="Digite o nome do evento">
    </div>
    <div class="col-4 mt-4">
        <label class="form-label" for="nome">Horário de início</label>
        <input class="form-control" type="text" placeholder="Digite o nome do evento">
    </div>
    <div class="col-4 mt-4">
        <label class="form-label" for="nome">Horário de encerramento</label>
        <input class="form-control" type="text" placeholder="Digite o nome do evento">
    </div>
    <div class="col-12 mt-4">
        <label class="form-label" for="nome">Responsável pelo evento</label>
        <input class="form-control" type="text" placeholder="Digite o nome do evento">
    </div>
    <div class="col-12 mt-4">
        <label class="form-label" for="nome">Observações</label>
        <input class="form-control" type="text" placeholder="Digite o nome do evento">
    </div>
    <div class="col-12 d-flex align-items-center justify-content-end mt-4">
        <button class="btn bg-primario my-3 px-5">
            Cadastrar
        </button>
    </div>
</div>