<div class="row">
    <div class="col-12 my-3">
        <h3>Detalhe do evento</h3>
    </div>
    <div class="col-md-2 d-flex align-items-center justify-content-end">
        <img src="https://i.pinimg.com/736x/6f/47/ce/6f47cefb1dac4b8337b4028286240d37.jpg" class="rounded img-thumbnail imagem-evento" alt="...">
    </div>
    <div class="col-10">
        <h4>
            <strong>Nome:</strong> teste
        </h4>
        <h5>
            <strong>Data:</strong> teste
        </h5>
        <h5>
            <strong>Horário:</strong> teste
        </h5>
        <h5>
            <strong>Local:</strong> teste
        </h5>
        <h5>
            <strong>Idade mínima:</strong> teste
        </h5>
    </div>
    <div class="col-12 my-3">
        <h5>
            <strong>Descrição:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum ac ligula sed facilisis. Aenean tempor blandit urna, egestas sollicitudin diam imperdiet et. Cras sagittis fermentum volutpat.
        </h5>
        <h5>
            <strong>Responsável:</strong> teste
        </h5>
    </div>
    <div class="col-12 d-flex align-items-center justify-content-end mt-2">
        <button class="btn bg-primario my-3 px-5">
            Editar evento
        </button>
    </div>
</div>